#iconAccordion img {
    float: left;
    margin: -7px 1px 0 -13px;
}

.header-expand {
    background-image: url(../../images/ui-icons/ui-icons-active.png);
    background-position: -187px -60px;
    cursor: pointer;
    display: block;
    float: right !important;
    height: 16px;
    width: 16px;
}

.header-close {
    background-image: url(../../images/ui-icons/ui-icons-default.png);
    background-position: -161px -60px;
    cursor: pointer;
    display: block;
    float: right !important;
    height: 16px;
    width: 16px;
}

.e-acrdn-header:hover .header-expand {
    background-image: url(../../images/ui-icons/ui-icons-active.png);
    background-position: -187px -60px;
}

.e-acrdn-header:hover .header-close {
    background-image: url(../../images/ui-icons/ui-icons-active.png);
    background-position: -161px -60px;
}

.logos {
    float: left;
    height: 35px;
    margin: -10px 10px 2px 1px;
    width: 35px;
}

.e-select .logos {
    /*background-image: url(../images/accordion/grey_logos.png);*/
    content: "\f087"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 400px;
    color: lightblue;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -200px;
    z-index: 1;
}

.e-active .logos {
    /*background-image: url(../images/accordion/white_logos.png);*/
    content: "\f087"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 400px;
    color: lightblue;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -200px;
    z-index: 1;
}

.logos:hover {
    /*background-image: url(../images/accordion/white_logos.png) !important;*/
    content: "\f087"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 400px;
    color: lightblue;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -200px;
    z-index: 1;
}

.logos.volkswagan {
    content: "\f087"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 400px;
    color: lightblue;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -200px;
    z-index: 1;
}

.logos.benz {
    content: "\f087"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 400px;
    color: lightblue;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -200px;
    z-index: 1;
}